<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Determinando estado de seção, aguarde...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>Desculpe</h1>
                    <p>Você não está autorizado a acessar esta página. Por favor, faça o login.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Desculpe, mas esse endereço não existe.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>